################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/basic_csharp/.vs/basic_csharp/DesignTimeBuild
/basic_csharp/.vs/basic_csharp/FileContentIndex
/basic_csharp/.vs/basic_csharp/v17
/.vs/basic_csharp/v17
